.cards{
	display: flex;
    flex-wrap: wrap;
}
.card{
	background: antiquewhite;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0,0,0.2);
    border-radius: 6px;
    margin: 20px;
    flex-basis: 250px;
}

.card img{
	width: 150px;
    border-radius: 6px;
}

.card h3{
	background: white;
    flex-grow: 1;
    padding-left: 10px;
    font-size: 20px;
    box-shadow: 0px 10px 30px rgb(0 0 0);
    border-radius: 6px;
}